.container{
    display:flex;
    flex-direction: column;
    height: 100vh;
    
    background-color: bisque;
}   

.container div{
    border: 8px solid rgb(42, 165, 52);
    flex: 1 1 auto;
}


.container .header{
    flex: .1 .1 auto;
}

.item1 {
    display:flex;
    background-color: blueviolet;
    justify-content: space-around;
    padding: 20px;
}

.item1 span {
    background-color: rgb(61, 138, 160);
    flex: 1;
}


.item1 .context{
    background-color: rgb(183, 224, 71);
    flex: 2 1 auto
}


.item2 {
    display:flex;
    background-color: blueviolet;
    justify-content: center;
    padding: 10px;
    gap: 8px;
}

.item2 span {
    background-color: rgb(61, 138, 160);
    width: auto;
    height: auto;
    border: 4px solid darkslategray;
    flex: .5 .5 auto;
}